<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <a class="logo d-flex align-items-center me-auto me-lg-0" routerLinkActive="active" routerLink="/home"><h1>Ayushver Ayurveda</h1></a>
        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <a routerLinkActive="active" (click)="closeNav()" routerLink="/about_us">About us</a>
                </li>
                <li>
                    <a routerLinkActive="active" (click)="closeNav()" routerLink="/products">Product</a>
                </li>
                <li>
                    <a routerLinkActive="active" (click)="closeNav()" routerLink="/services">Services</a>
                </li>
                <li>
                    <a routerLinkActive="active" (click)="closeNav()" routerLink="/contact_us">Contact us</a>
                </li>
            </ul>
        </nav><!-- .navbar -->
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list" (click)="openMenu()"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header><!-- End Header -->
