<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>Learn More <span>About Us</span></p>
        </div>
        <div class="row gy-4">
            <div class="col-lg-7 position-relative">
                <div class="about-img" style="background-image: url(assets/img/about_us1.jpg);" data-aos="fade-up" data-aos-delay="150"></div>
                <hr>
                <div class="about-img" style="background-image: url(assets/img/about_us2.jpg);" data-aos="fade-up" data-aos-delay="150"></div>
                <hr>
                <div class="about-img" style="background-image: url(assets/img/about_us3.jpg);" data-aos="fade-up" data-aos-delay="150"></div>
            </div>
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        <strong>Medrim Pharmaceuticals</strong> is a well known and trusted name in Ayurvedic and Herbal market. We provide best services along with best natural Ayurvedic Products. Our motto is to provide best quality and efficacy products to our customer without any chemicals and side effects. Medrim Pharmaceutica was started in 2019by aiming to provide chemical free future to our new generation. In short period of time we have achieved many mile stone in success. Our growth rate is more than hundred percent per year.
                    </p>
                    <p class="fst-italic">
                        Ayurveda (आयुर्वेद) is basis of our growth in Elzac Herbal India. Ayurveda is more than 5000 years old system of medicines that are based at Jadi-Buti (Herbs), Yoga (Physical Exercise), sudhi (Purification) etc.  Ayurveda describes the beneficial, non beneficial, happy and unhappy aspects of life. Health is defined as the state of equilibrium of dosha (humours), agni (digestive juices, enzymes and hormones), dhatu (tissues) and the normal excretion of mala (waste materials), along with a happy state of atma (soul), indriya (sensory and motor
                    </p>
                    <p class="fst-italic">
                        organs), and manas (mind). Ayurveda is a Sanskrit word derived from ayur (life) and veda (knowledge), and is also known as the  <b>“science of life”.</b>
                    </p>
                    <p class="fst-italic">
                        The Ayurvedic concepts of physiology, pathology, diagnosis, medicine and therapeutics are based on the doctrine of tridoshas: vata, pitta and kapha. They are designated as doshas because of their capacity to vitiate other doshas and also as dhatus as they support the body.
                    </p>
                    <p class="fst-italic">
                        The doshas are present in every cell and move through every channel of the body.
                    </p>
                    <p class="fst-italic">
                        Our body is made-up of five elements known as Maha Panch Bhutas i.e. Pritvi (earth), Jal (water), Agni (fire), Vayu (air) and Akash (space). Seven basic Dhatu mentioned in ayurveda is Rasa, Rakta, Mamsa, Meda, Asthi, Majja and Shukra. In Ayurveda, all substances are considered to inherent with 20 types of Gunas (characteristics). These are in 10 pairs of antonyms: heavy/light, cold/hot, unctuous/dry, dull/sharp, stable/mobile, soft/hard, non-slimy/slimy, smooth/coarse, minute/gross, viscous/liquid. In classical Ayurvedic Texts, Ayurveda’s has been described in eight departmental components known as Astang (अष्टांग).
                    </p>
                    <p class="fst-italic">
                        <strong>These Astang is basis of Ayurvedic Treatment.</strong>
                    </p>
                    <p class="fst-italic">
                        <strong> +Kayachikitsa:</strong> Cure of diseases affecting the body <strong>+Kaumara-bhrtya and Bala Roga</strong> Treatment of Children <strong>+Shalya Tantra:</strong> Surgical Procedures <strong>+Salakya Tantra:</strong> Cure of diseases of Nose, Teeth, Ear or Eyes etc <strong>+Bhuta-Vidya</strong> Non visible or not explained causes like micro-organism and spirit etc <strong>+Agada Tantra</strong> Destruction of Poison. <strong>+Rasayana Tantra</strong> (Rejuvenation). <strong>+Vajikarana Tantra</strong> (Aphrodisiacs).
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->