<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>Privacy <span>Policy</span></p>
        </div>
        <div>
            <p>Ayushver Ayurveda respects and values the Right to Privacy of each and every individual belongs to us. We are ethical in our relationships to our clients. Being Reliable Trade Solution’s clients you have a promise from us that we shall remain loyal to all our clients and non clients whose information resides with us. This Privacy Policy applies to our existing clients as well as former clients. You will find the guidelines governing our Privacy Policy below:</p>
        </div>
        <div>
            <ul>
                <li>
                    Your information, whether public or private, will NOT be sold, rented, exchanged, transferred or given to any company or individual for any reason without your consent.
                </li>
                <li>
                    Your information given to us represents your identity with us. If any changes are brought in any of the fields of which you have provided us the information, you shall bring it to our notice by either calling us or sending an email to us.
                </li>
                <li>
                    In addition to the service provided to you, your information (mobile number, E-mail ID etc.) can be brought in use for sending you newsletters, surveys, contest information, or information about any new services of the company which will be for your benefit and while subscribing for our services, you agree that Reliable Trade Solution has the right to do so.
                </li>
                <li>
                    By subscribing to our services, you consent to our Privacy Policy and Terms of Use.
                </li>
                <li>
                    By filling out the 'Free Trial Form' on this website, you agree to provide us your valid mobile number. Also by providing your mobile number, you provide us the consent to call you on the number provided by you and send SMS on your mobile number.
                </li>
            </ul>
        </div>
      <!--End Contact Form -->
    </div>
</section><!-- End Contact Section -->