<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <p>RETURN/REFUND <span>POLICIES</span></p>
        </div>
        <div>
            <ul>
                <li>
                    No returns will be offered on Items that have been delivered
                    without any damages or defects.
                </li>
                <li>
                    If the product is wrongfully delivered (different SKU instead of the
                    SKU mentioned in the order confirmation) or has a genuine
                    quality/manufacturing defect, then we are open to extending full
                    refund or re-fulfilling your order against the return of the product
                    subject to the fact of such defect being established.
                </li>
                <li>
                    To report damage in transit please get in touch with our customer
                    care within <strong>48 hours</strong> of delivery (Customer Care Number/email will
                    be provided)
                </li>
                <li>
                    Our customer care team will look into the issue and revert back
                    within 48 working hours.
                </li>
                <li>
                    Refunds will be made (i) within <strong>14 working days </strong> from the date of
                    receipt of returned goods if the order is already shipped (ii)
                    within <strong>14 working days </strong> from the date of cancellation of the order if
                    the order is not yet shipped.
                </li>
                <li>
                    No refunds would be given if the customer has provided wrong or
                    incomplete shipping address, there are X failed delivery attempts
                    by our shipping agency and/or the package is refused by the
                    recipient.
                </li>
                <li>
                    Not withstanding anything contained herein, the following products
                    shall not be eligible for return or replacement, viz: Any product that
                    is returned without all original packaging and accessories,
                    including the retail box and all other items originally included with
                    the product at the time of delivery;
                </li>
                <li>
                    All costs of return shipping need to be borne by the purchaser
                    (Unless the item received is defective)
                </li>
            </ul>
        </div>
        <div class="section-header">
            <p>CANCELLATION <span>POLICIES</span></p>
        </div>
        <div>
            <ul>
                <li>
                    If you have to cancel an order, please do so within <strong>24 hours</strong> of placing the
                    order. It is NOT possible to cancel part of your order. We recommend you
                    cancel the entire order and re-purchase required quantity to simplify the
                    transaction.
                </li>
                <li>
                    If you cancel your order before your product has shipped, we will refund the
                    entire amount subject to deduction of charges if any and whereas you cancel
                    your order after the shipment but before receipt of the item, the same will be
                    liable for deduction of the two-way shipping costs.
                </li>
                <li>
                    All cancellations are subject to a cancellation charge/bank transaction charge
                    of <strong>2.5%</strong> of your total order value.
                </li>
                <li>
                    There are circumstances when the company might have to cancel a particular
                    order.
                </li>
                <li>
                    Your receipt of an electronic or another form of order confirmation does not
                    signify our final acceptance of your order an www.ayushverayurveda.in the right
                    at any time after the receipt of your order to accept or decline your order for any
                    reason.
                </li>
                <li>
                    Although our online stock inventory is programmed to update automatically
                    www.ayushverayurveda.in reserves the right at any time after receipt of your
                    order, to inform you via telephone or email or mobile text about a shortfall in the
                    quantity you ordered of any item. In all such cases, we have the right to either
                    supply you less than the quantity you ordered or cancel your order with prior
                    notice to you.
                </li>
                <li>
                    If an order is to be canceled after shipment, the individual return policy of the
                    vendor applies. A return fee is charged by vendors in most cases
                </li>
            </ul>
        </div>
      <!--End Contact Form -->
    </div>
</section><!-- End Contact Section -->