<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
                <h2 data-aos="fade-up">Ayurveda and Your Life</h2>
                <p data-aos="fade-up" data-aos-delay="100">
                    Ayurvedic medicine (“Ayurveda” for short) is one of the world's oldest holistic (“whole-body”) healing systems. It was developed more than 3,000 years ago in India. It’s based on the belief that health and wellness depend on a delicate balance between the mind, body, and spirit. Its main goal is to promote good health, not fight disease. But treatments may be geared toward specific health problems. 
                </p>
                <p data-aos="fade-up" data-aos-delay="100">
                    therapy believe that everything in the universe – dead or alive – is connected. If your mind, body, and spirit are in harmony with the universe, you have good health. When something disrupts this balance, you get sick. Among the things that can upset this balance are genetic or birth defects, injuries, climate and seasonal change, age, and your emotions.
                </p>
                <p data-aos="fade-up" data-aos-delay="100">
                    Those who practice Ayurveda believe every person is made of five basic elements found in the universe: space, air, fire, water, and earth.
                </p>
                <p data-aos="fade-up" data-aos-delay="100">
                    These combine in the human body to form three life forces or energies, called doshas.
                </p>
                <p data-aos="fade-up" data-aos-delay="100">
                    They control how your body works. They are Vata dosha (space and air); Pitta dosha (fire and water); and Kapha dosha (water and earth).
                </p>
                <p data-aos="fade-up" data-aos-delay="100">
                    Everyone inherits a unique mix of the three doshas. But one is usually stronger than the others. Each one controls a different body function. It’s believed that your chances of getting sick -- and the health issues you develop -- are linked to the balance of your doshas.
                </p>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
                <img src="assets/img/home.jpg" class="home_image" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->